
<span class="page-title" style="display: block; margin-bottom: .75em;">Dixie is a wiki for your Dropbox.</span>

<p>The <a href="http://en.wikipedia.org/wiki/Wiki">wiki</a> is a great tool for planning
projects, storing ideas and collaborating with others.</p>

<p>Dixie is not the same as the average wiki. Instead of storing your data on our
servers, Dixie stores your data in your <a href="http://dropbox.com">Dropbox</a>.
What does this mean?</p>

<ul>
<li>You control your data, but you can still access your wiki from anywhere.</li>
<li>Sharing is as easy as sharing a folder in your Dropbox.</li>
<li>With <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a>,
you can search and edit the wiki's files in your Dropbox.</li>
</ul>

<p>Dixie is easy. <a href="<%= login_path %>" class="blue">Click here to get started.</a></p>

