
<p>If you have questions, comments or suggestions (of if you think Dixie is 
just exceptionally rad), feel free to shoot the developer an email at:</p>

<center><p>TODO spam-proof email image or something :D</p></center>

<p>And if you're a developer, why not <a href="TODO">fork Dixie on Github</a>?

