<h2>Dixie doesn't track you.</h2>

<p>Dixie is a tool for displaying and editing wiki pages stored in your 
Dropbox account.</p>

<p>Dixie never logs any of the data it recevies. The link between Dixie 
and your Dropbox account is stored by your browser, not our servers.</p>

<p>Dixie uses the following services, whose privacy policies you may
be interested in reading:</p>

<ul>
	<li><a href="https://www.dropbox.com/privacy">Dropbox</a> </li>
	<li><a href="http://policy.heroku.com/privacy">Heroku</a></li>
</ul>

