
<%= render 'header' %>

<p><a href="#" id="edit-mode">Show Preview</a> <span style="color:#888; font-size: 80%">(Alt+P)</span></p>

<div id="source-view">
	<form id='source-form' method='post' action='<%= "#{@baseurl}/save" %>'>
		<textarea style="width: 100%; font-family: monospace; font-size: 110%;" id="editor" name="markdown"><%= @contents %></textarea>
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
	</form>
</div>

<div id="preview-view" style="width: 100%;display:none">
    <p class="preview-warning">
        This is a live preview of your page. Press 
        <a href="#" onclick="javascript:document.forms['source-form'].submit();">Save</a>
        to save your changes.
    </p>
</div>

